.box {
    border: 1px solid #cecece;
    border-radius: 10px;
    transition: all 0.3s ease;

    @media (max-width:1000px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .floating-result {
        position: absolute;
        top: -15%;
        bottom: 0;
        right: 15%;
        background: #fff;
        border: 0.6px solid #ececec;
        border-radius: 10px;
        width: 400px;
        height: 500px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        transition: all 0.3s ease;

        @media (max-width:1185px) {
            right: 10%;
        }

        @media (max-width:1100px) {
            right: 3%;
        }

        @media (max-width:1000px) {
            position: relative;
            margin-top: 30px;
        }

        .box-score {
            position: relative;
            padding: 6px;
            border: 1px solid #ececec;
            border-radius: 10px;
            transition: all 0.3s ease;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0px;
                width: 5px;
                border-radius: 0 10px 10px 0;
                height: auto;
                background-color: #5F3DC4;
            }
        }
    }
}

.card {
    cursor: pointer;
    transition: transform 150ms ease, box-shadow 100ms ease;

    &:hover {
        box-shadow: #e2e2e2 0px 8px 10px;
        transform: scale(1.02);
    }
}