:root {
    --smoothTransition: all 0.3s linear;
}

.checkout-summery {
    display: block;
}

.checkout-sum-total {
    display: none;
    opacity: 0;
}

@media screen and (max-width: 980px) {
    .checkout-summery {
        background: #fff;
    }

    .check-summery-floating-bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999;
        padding: 20px;
        background: #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 8px 8px 8px 8px;
        transition: var(--smoothTransition);
    }

    .cart-summery-floating-bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999;
        padding: 20px;
        width: 100%;
        background: #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 8px 8px 8px 8px;
        transition: var(--smoothTransition);
    }

    .checkout-sum-total {
        display: block;
        opacity: 1;
    }

}